* {
  margin: 0;
  padding: 0;
  font-family: 'Tilt Neon', 'Segoe UI', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6fb;
}

.container {
  display: flex;
  width: 1000px;
  height: 600px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

/* LEFT */
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 120px;
  z-index: 2;
}

.left {
  width: 50%;
  background: url("/images/background.log-reg.jpeg") center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgb(6, 37, 102, 0.65);
}

/* RIGHT */
.right {
  width: 50%;
  padding: 80px;
}

.right h1 span {
  color: #e60000;
}

.right p {
  color: #777;
  margin-bottom: 30px;
}

form label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  font-size: 13px;
  flex-wrap: nowrap;
}

.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.login-btn {
  width: 50%;
  display: block;
  margin: 20px auto;
  padding: 12px;
  background: #062566;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 30px 0;
  color: #aaa;
}


.register {
  text-align: center;
  margin-top: 20px;

}