* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tilt Neon', 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6fb;
}

.container {
  display: flex;
  width: 1000px;
  height: 600px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.15);
}

/* LEFT */
.left {
  width: 50%;
  position: relative;
  background: url("/images/background.log-reg.jpeg") center/cover no-repeat;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 120px;
  z-index: 2;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgb(6, 37, 102, 0.65);
}

/* RIGHT */
.right {
  width: 50%;
  padding:80px;
}

.right h1 span {
  color: #e60000;
}

.right p {
  color: #777;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-top: 18px;
  font-size: 14px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"]
input[type="asal kampus"] {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.terms {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  font-size: 13px;
  color: #777;
}

.register-btn {
  width: 100%;
  padding: 14px;
  background: #062566;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
