*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f4f6fb;
min-height:100vh;
display:flex;
flex-direction:column;
}


/* TOPBAR */
.topbar{
height:60px;
background:#fff;
display:flex;
justify-content:space-between;
align-items:center;
padding:2px 25px;
box-shadow:0 2px 5px rgba(0,0,0,.1);
}

.top-left{
display:flex;
align-items:center;
gap:15px;
}

.logo{
height:35px;
}

.menu-btn{
font-size:22px;
cursor:pointer;
display:none;
}

.top-right{
display:flex;
align-items:center;
gap:15px;
}

.avatar{
width:35px;
height:35px;
border-radius:50%;
}


/* LAYOUT */

.layout{
flex:1;
display:flex;
}


/* SIDEBAR */

.sidebar{
width:220px;
background:#031943;
color:#fff;
padding:25px;
}

.brand{
margin-bottom:30px;
}

.brand span{
color:red;
}

.sidebar a{
display:block;
padding:12px;
margin:6px 0;
color:#fff;
text-decoration:none;
border-radius:6px;
cursor:pointer;
transition:.3s;
}

.sidebar a:hover,
.sidebar a.active{
background:rgba(255,255,255,.2);
}

.logout{
margin-top:30px;
color:#ffb3b3;
}


/* MAIN */

.main{
flex:1;
padding:30px;
}


/* PAGE */

.page{
display:none;
}

.page.active{
display:block;
}


/* BANNER */

.banner{
background:linear-gradient(#062566,#031943);
color:#fff;
border-radius:15px;
padding:30px;
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
overflow:hidden;
}

.banner-img{
width:200px;
height:120px;
object-fit:cover;
border-radius:10px;
}


/* STEPS */

.steps{
display:grid;
gap:20px;
}

.step{
background:#fff;
display:flex;
align-items:center;
gap:15px;
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.dot{
width:35px;
height:35px;
background:#031943;
border-radius:50%;
}


/* PLACEHOLDER */

.placeholder{
background:#fff;
padding:40px;
border-radius:12px;
text-align:center;
color:#888;
font-size:16px;
box-shadow:0 4px 10px rgba(0,0,0,.1);
}


/* LOGOUT */

.logout-btn{
background:red;
color:#fff;
border:none;
padding:10px 25px;
border-radius:6px;
cursor:pointer;
}


/* FOOTER */

.footer{
background:#031943;
color:#fff;
text-align:center;
padding:20px;
}


/* RESPONSIVE */

@media(max-width:768px){

.menu-btn{
display:block;
}

.layout{
flex-direction:column;
}

.sidebar{
position:fixed;
top:60px;
left:-220px;
height:calc(100vh - 60px);
transition:.3s;
z-index:100;
}

.sidebar.show{
left:0;
}

.main{
padding:20px;
}

.banner{
flex-direction:column;
text-align:center;
gap:20px;
}

}
